.container-fluid {
    background-color: #F8FCEC;
    border: 2px solid #94CA74;
}

.cr {
    max-width: 600px;
    margin-top: 2%;
    margin-left: 10%;
    padding: 30px;
    border: 1px solid #94CA74;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.ltitle {
    margin-bottom: 2%;
}

input[type="text"],
select,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #94CA74;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
  
select {
    width: 100%;
}
  
textarea {
    resize: vertical;
}
  
input[type="file"] {
    margin-bottom: 15px;
}
  
button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #428bca;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="cancel"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #999;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}
  
button[type="cancel"]{
    background-color: #7a7a7a;
    margin-bottom: 2%;
}

/* right tab */

.col2 {
    display: flex;
    margin-top: -35.5%;
    margin-left: 65%;
    width: fit-content;
    border: 2px #94CA74 solid;
    border-radius: 4px;
    
}

.cont h3 {
    border-bottom: 2px #94CA74 solid;
    padding: 5%;
    background-color: #F8FCEC;
}

.bod #bot{
    padding: 3%;
    margin-left: -10%;
}
